.storyIn {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  box-shadow: -1px 10px 15px -1px rgba(0, 0, 0, 1);
  margin-right: 15px;
  transition: transform 50ms ease-in;
  cursor: pointer;
}

.storyIn:hover {
  transform: scale(1.1);
}

.story_avatar {
  margin: 10px;
  border: 5px solid rgba(62, 160, 224, 0.897);
}

.storyIn > h4 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
